// ==============================================================================
// #Links
// ==============================================================================
a {
  border-bottom: 1px solid rgba($linkColor,0.8);
  color: $linkColor;
  text-decoration: none;
  @include transition(color 0.5s ease-in-out);

  &:hover,&:focus {
    color: lighten($linkColor, 10%);
    text-decoration: none;
  }
}

a.twitter-link {
  border: 0;

  .under {
    border-bottom: 1px solid lighten($linkColor,30%);
  }
}

.breadcrumb,
footer {
  a {
    border-color: lighten($linkColor,30%);
    color: lighten($linkColor,30%);
  }  
}

.float {
  @include float();
}