// ==============================================================================
// #Links
// ==============================================================================
a {
  color: $linkColor;
  text-decoration: none;
  @include transition(color 0.5s ease-in-out);

  &:hover,&:focus {
    color: lighten($linkColor, 10%);
    text-decoration: none;
  }
}

.breadcrumb,
footer {
  a {
    border-color: lighten($linkColor,30%);
    color: lighten($linkColor,30%);
  }  
}

.float {
  @include float();
}