// ==============================================================================
// Grid Breakpoints
// ==============================================================================
$viewportIncrement: 1px;

$small: 610px;
$medium: 768px;
$large: 769px;
$xlarge: 1075px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

/* The following are dependencies of csswizardry grid */
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'large' '(min-width: #{$large})',
  'xlarge' '(min-width: #{$xlarge})'
);
$breakpoint-has-widths: ('small', 'medium', 'large', 'xlarge');
$breakpoint-has-push:  ('small', 'medium', 'large');
$breakpoint-has-pull:  ('small', 'medium', 'large');

$small_down: unquote( "max-width: #{$small}" );
$small_up: unquote( "min-width: #{$small + 1}" );
$medium_down: unquote( "max-width: #{$medium}" );
$medium_up: unquote( "min-width: #{$medium + 1}" );
$large_down: unquote( "max-width: #{$large}" );
$large_up: unquote( "min-width: #{$large + 1}" );
$xlarge_down: unquote( "max-width: #{$xlarge}" );
$xlarge_up: unquote( "min-width: #{$xlarge + 1}" );


// ==============================================================================
// Misc. Global Values
// ==============================================================================
$margin: 20px;
$gutter: 30px;
$layout_max_width: 800px;
$border_radius: 3px;


// ==============================================================================
// Typography
// ==============================================================================
$bodyFontStack: Helvetica, Arial, sans-serif;



// ==============================================================================
// Colours
// ==============================================================================
$headertextColor: #fff;
$textColor: #b6d9f9;
$linkColor: #a3ccf1;

$borderColor: #539fea;
$borderColorLight: #207ed5;

$iconColor: #539fea;

$cardFooterBg: #1c5f7d;
$cardFooterText: #8ed5df;

$blueLight: #8ec9ee;

$javascript: #eff54e;
$go: #a4d2ff;
$liquid: #76ddff;
$objective-c: #d6d6d6;
$ruby: #fea0a0;
$php: #d1a4ff;
