<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item large--one-third large--text-left">
      Built and maintained by <a href="#">Shopify Inc.</a> © 2014
    </div>
    <div class="grid-item large--one-third">
      Want to contribute? <a href="http://www.shopify.ca/careers">Join the team</a>
    </div>
    <div class="grid-item large--one-third large--text-right">
      <a href="#">
        Follow us
        <i class="icon-twitter"></i>
      </a>
    </div>
  </div>

</footer>