<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      Built and maintained by <a href="http://www.shopify.com">Shopify Inc.</a> © {{ site.time | date: "%Y" }}
    </div>
    <div class="grid-item xlarge--one-third">
      <a href="https://twitter.com/ShopifyEng" class="twitter-link"><span class="under">Follow us</span></a>
    </div>
    <div class="grid-item xlarge--one-third xlarge--text-right">
      Want to contribute? <a href="http://www.shopify.com/careers">Join the team</a>
    </div>
  </div>

</footer>
