<div class="hero-header">
  <div class="pagewidth grid">
    <div class="grid-item xlarge--one-half xlarge--text-center">
      <h2>Work at Shopify</h2>
      <p>
        At Shopify, we empower entrepreneurs all over the world. We're looking for hard-working, passionate people to help us make commerce better for everyone.
      </p>
      <p>
        <a href="https://www.shopify.com/careers" class="btn is-active">Join us!</a>
      </p>
    </div>
    <div class="grid-item xlarge--one-half xlarge--text-center developer-community">
      <h2>Join our developer community</h2>
      <p>
        Our app developers have earned tens of millions of dollars building apps for the Shopify App Store.
        Start building apps and reach millions of merchants.
      </p>
      <p>
        <a href="https://developers.shopify.com" class="btn is-active">Partner with us!</a>
      </p>
    </div>
  </div>
</div>
