// ==============================================================================
// #Repo Cards
// ==============================================================================
.repo {
  margin-bottom: $gutter;
  @include transform(translateZ(0));

  h2, .h2 {
    margin-bottom: 4px;
    word-wrap: break-word;
  }

  h4, .h4 {
    color: #5d7880;
  }
}

.repo-inner {
  background-color: #fff;
  padding: $margin 0 $margin/2 $margin;

  p {
    margin-bottom: 0;
    padding-right: $margin;
  }
}

.homepage-link {
  display: block;
  float: right;
  margin-right: $margin;

  img {
    display: block;
  }
}

.repo-footer {
  background-color: $cardFooterBg;
  color: $cardFooterText;
  font-weight: 600;
  font-size: 14px;
  @include clearfix;
}

.repo-footer--left {
  float: left;
  padding: $margin/2 $margin;
}

.repo-footer--right {
  float: right;
  padding: $margin/2 $margin;
  background-color: $linkColor;
}