// ==============================================================================
// #Repo Cards
// ==============================================================================
.repo {
  margin-bottom: $gutter/2;
  @include transform(translateZ(0));

  h2, .h2 {
    margin-bottom: 4px;
    word-wrap: break-word;
  }

  h4, .h4 {
    color: #5d7880;
  }
}

.repo-inner {
  background-color: #fff;
  padding: $margin $margin $margin/1.5 $margin;

  p {
    margin-bottom: 0;
  }
}

.homepage-link {
  display: block;
  float: right;

  img {
    display: block;
  }
}

.repo-footer {
  background-color: $cardFooterBg;
  color: $cardFooterText;
  font-weight: 600;
  font-size: 14px;
  @include clearfix;
}

.repo-footer--left {
  float: left;
  padding: $margin/2 $margin;

  i {
    position: relative;
    top: -1px;
  }

  i:last-child {
    margin-left: $margin/4;
  }
}

.repo-footer--right {
  float: right;
  display: block;
  padding: $margin/2 $margin;
  background-color: $linkColor;
}