// ==============================================================================
// #Repo Cards
// ==============================================================================
.repo {
  border: 3px solid $borderColor;
  margin-bottom: $gutter/2;
  width: 100%;
  @include transform(translateZ(0));

  a {
    border: 0;
  }

  h2 a,.h2 a {
    color: $headertextColor;
  }

  h4, .h4 {
    color: #5d7880;
  }

  p {
    margin: $margin*0.75 $margin;
  }
}

.homepage-link {
  display: block;
  float: left;
  height: 26px;
  margin-right: $margin*0.75;
  width: 26px;

  img {
    height: 26px;
    width: 26px;
  }
}

.repo-header {
  @include clearfix;
  border-bottom: 3px solid $borderColorLight;

  .no-desc & {
    border: 0;
  }

  i {
    color: $iconColor;
  }

  h2,.h2 {
    margin: $margin*0.7 $margin;

    @include responsify( $medium_up, true ) {
      font-size: 22px;
    }
  }
}

.repo-meta {
  @include clearfix;
  border-top: 3px solid $borderColorLight;
  font-size: 12px;
  text-align: right;

  @include responsify( $medium_up, true ) {
    border-top: 0;
  }
}

.repo-git {
  float: right;
  font-weight: 600;
  text-transform: uppercase;

  a {
    background: url(/images/git-back.png) repeat;
    border-left: 3px solid $borderColorLight;
    display: block;
    padding: $margin*0.75 $margin;

    @include responsify( $medium_up, true ) {
      padding: $margin*0.85 $margin;
    }
  }

  i {
    position: relative;
    top: -1px;
  }
}

.repo-stats {
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  padding: $margin*0.75;

  i {
    position: relative;
    top: -2px;
  }

  i.icon-forks {
    margin-left: $margin/4;
  }

  @include responsify( $medium_up, true ) {
    float: right;
    padding: $margin*0.85 $margin;
  }
}

.repo-lang {
  margin-left: $margin/4;
  text-transform: uppercase;

  .coffeescript &,.javascript & { color: $javascript; }
  .liquid & { color: $liquid; }
  .objective-c & { color: $objective-c; }
  .php &,.python & { color: $php; }
  .ruby & { color: $ruby; }
}