// ==============================================================================
// #Filter Bar
// ==============================================================================
.filter-bar {
  background: url(/images/git-back.png) repeat;
  border: 3px solid $borderColor;
  font-size: 12px;
  font-weight: 600;
  padding: $margin/2 $margin;
  text-transform: uppercase;

  .filter-bar--left,
  .filter-bar--right {
    text-align: center;
  }

  @include responsify( $small_up, true ) {
    @include clearfix;

    .filter-bar--left {
      float: left;
      text-align: left;
    }

    .filter-bar--right {
      float: right;
      text-align: right;
    }
  }
}

// ==============================================================================
// #Filter Buttons
// ==============================================================================
.btn,
.btn:visited {
  background-color: transparent;
  border: 0;
  color: $iconColor;
  cursor: pointer;
  font: inherit;
  margin: 0 $margin/2 0 0;
  padding: 0;
  text-decoration: none;
  text-transform: inherit;
  @include transition(all 0.1s ease-in-out);

  &:hover,
  &.is-active {
    border-bottom: 1px solid rgba($textColor,0.8);
    color: $textColor;
  }
}