// ==============================================================================
// General Footer Styles
// ==============================================================================
.footer {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: $margin/3;
  padding-bottom: $margin/3;

  a {
    color: $footerLinks;

    &:hover {
      color: darken($footerLinks, 10%);
    }
  }
}