// ==============================================================================
// General Footer Styles
// ==============================================================================
.footer {
  color: $textColor;
  font-size: 12px;
  text-align: center;
}