// ==============================================================================
// #Generic Home Styles
// ==============================================================================
.hero {
  position: relative;

  .pagewidth {
    position: relative;
    display: table;
    width: 100%;
  }
}

.hero-lines {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/images/hero-lines.png);
  background-position: center top;
  background-repeat: repeat-x;

  @include responsify( $small_up, true ) {
    top: 0;
  }
}


// ==============================================================================
// #Hero Header
// ==============================================================================
.hero-header {
  background-color: rgba(#fff,0.1);
  padding: $margin 0;
  @include clearfix;

  @include responsify( $small_up, true ) {
    padding: $gutter 0;
  }
}

.git-stats {
  color: $headertextColor;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  margin: $margin/2 0 0;
  text-align: center;

  @include responsify( $medium_up, true ) {
    float: right;
    margin: $margin/4 0 0;
    text-align: right;
  }

  li {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    & + li {
      padding-left: 10px;
    }
  }
}

.git-stat {
  color: $blueLight;
  padding-right: 3px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 215px;
  height: 30px;

  .lt-ie9 & {
    display: none;
  }

  @include responsify( $medium_up, true ) {
    float: left;
  }
}

.lt-ie9 .logo--ie {
  background: transparent url(/images/shopify-open-source.png) no-repeat;
  height: 30px;
  width: 215px;

  @include responsify( $medium_up, true ) {
    float: left;
  }

  .logo {
    display: none;
  }
}

// ==============================================================================
// #Hero Inner
// ==============================================================================
.hero-inner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 200px;

  @include transition(padding 0.2s ease-in-out);

  p {
    color: $headertextColor;
  }

  @include responsify( $medium_up, true ) {
    height: 340px;
  }
}

.hero-text {
  font-size: 18px;
  margin-bottom: 10px;

  @include responsify( $small_up, true ) {
    font-size: 24px;
    line-height: 1.325;
  }

  @include responsify( $medium_up, true ) {
    font-size: 30px;
  }
}

// ==============================================================================
// #Repo area
// ==============================================================================
.repoWrap {
  padding: $gutter/2 0;
  overflow: hidden;

  @include responsify( $medium_up, true ) {
    padding: $gutter 0;
  }
}

.repo-loader {
  display: table;
  width: 100%;
  min-height: 300px;

  .repo-loader--inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .spinner:before,
  .spinner:after {
    background-color: $blueLight;
  }
}

#repos.is-loaded + .repo-loader {
  display: none;
}

// ==============================================================================
// #API Limit Error
// ==============================================================================
.limit-error {
  text-align: center;
  padding: 100px 0;
  font-size: 30px;
}

// ==============================================================================
// #Developer Community
// ==============================================================================
.developer-community {
  @include responsify( $xlarge_down, true ) {
    margin-top: $gutter;
  }
}
