// ==============================================================================
// #Generic Home Styles
// ==============================================================================
.hero {
  .pagewidth {
    position: relative;
    display: table;
    width: 100%;
  }

  @include responsify( $medium_up, true ) {
    position: relative;
  }
}

.hero-lines {
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/images/hero-lines.png);
  background-position: center top;
  background-repeat: repeat-x;

  @include responsify( $medium_up, true ) {
    top: 0;
  }
}


// ==============================================================================
// #Hero Header
// ==============================================================================
.breadcrumb {
  color: $headertextColor;
  display: inline;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  top: -8px;

  @include responsify( $medium_up, true ) {
    display: inline;
    position: relative;
    text-align: left;
    top: 6px;
  }
}

.cta-buttons {
  margin-top: 12px;

  a {
    border: 3px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 0 5px 10px 0;
    padding: 9px 16px 7px;
    text-transform: uppercase;

    @include transition;
  }

  .github {
    background-color: #fff;
    border: 3px solid #fff;
    color: $blue;
    margin-bottom: 0;

    i {
      color: lighten($blueLight,90%);
      position: relative;
      top: -2px;
    }

    i.icon-star {
      margin-left: 6px;
    }
  }

  @include responsify( $medium_up, true ) {
    margin-top: 30px;
  }
}

.hero-header {
  background-color: rgba(#fff,0.1);
  padding: $margin 0;
  @include clearfix;

  @include responsify( $small_up, true ) {
    padding: $gutter 0;
  }
}

.git-stats {
  color: $headertextColor;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  margin: $margin/2 0 0;
  text-align: center;

  @include responsify( $medium_up, true ) {
    float: right;
    margin: $margin/4 0 0;
    text-align: right;
  }

  li {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    & + li {
      padding-left: 10px;
    }
  }
}

.git-stat {
  color: $blueLight;
  padding-right: 3px;
}

.logo {
  display: inline;
  height: 30px;
  margin-right: 3px;
  width: 27px;

  .lt-ie9 & {
    display: none;
  }

  @include responsify( $medium_up, true ) {
    float: left;
  }
}

.logo--ie {
  text-align: center;

  @include responsify( $medium_up, true ) {
    float: left;
  }
}

.lt-ie9 .logo--ie {
  background: transparent url(/images/shopify-blankproject.png) no-repeat;
  height: 27px;
  width: 30px;

  @include responsify( $medium_up, true ) {
    float: left;
  }

  .logo {
    display: none;
  }
}

.repo__logo {
  max-width: 200px;

  @include responsify( $medium_up, true ) {
    max-width: 250px;
  }
}

.repo-lang {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  &.coffeescript,&.javascript { color: $javascript; }
  &.liquid { color: $liquid; }
  &.objective-c { color: $objective-c; }
  &.php,&.python { color: $php; }
  &.ruby { color: $ruby; }

  @include responsify( $medium_up, true ) {
    float: right;
    position: relative;
    text-align: center;
    top: 6px;
  }
}

// ==============================================================================
// #Hero Inner
// ==============================================================================
.hero-inner {
  padding: 30px 0 30px;
  text-align: center;
  vertical-align: middle;

  @include transition(padding 0.2s ease-in-out);

  p {
    color: $headertextColor;
  }

  @include responsify( $medium_up, true ) {
    display: table-cell;
    padding: 50px 0;
  }
}

.hero-logo {
  font-size: 25px;
  margin: 0;

  @include responsify( $small_up, true ) {
    font-size: 35px;
  }

  @include responsify( $medium_up, true ) {
    font-size: 50px;
  }
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 10px;

  @include responsify( $small_up, true ) {
    font-size: 24px;
    line-height: 1.325;
  }

  @include responsify( $medium_up, true ) {
    font-size: 30px;
  }
}

// ==============================================================================
// #Content area
// ==============================================================================

.documentation {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 30px 0 20px;

  img {
    text-decoration: none;
  }

  .nounderline {
    text-decoration: none;
    border-bottom: 0 none;
  }

  code {
    background-color: #efefef;
    border-radius: 5px;
    box-shadow: inset 0px 0 3px #ccc;
    color: $textColor;
    padding: 5px 7px;
  }

  pre {
    background-color: #efefef;
    border-radius: 5px;
    box-shadow: inset 0px 0 3px #ccc;
    margin: 10px 0 15px;
    padding: 10px 15px;

    code {
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
    }
  }

  .nounderline {
    border-bottom: 0;
  }

  @include responsify( $medium_up, true ) {
    padding: 50px 0 40px;
  }
}
