<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  {% include head.html %}
  </head>
    <body>

    {{content}}

    {% include join.html %}

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="javascripts/libs/modernizr.min.js"></script>
    <script src="javascripts/libs/handlebars.min.js"></script>
    <script src="javascripts/libs/isotope.min.js"></script>
    <script src="javascripts/custom-repos.js"></script>
    <script src="javascripts/shopify-opensource.js"></script>

    </body>
</html>
