<!doctype html>
<html lang="en">
  <head>
  {% include head.html %}
  </head>
  <body>
    {% include svg.html %}
    <div class="page-container">
      <header class="header">
        <div class="grid">
          <div class="grid__item">
            <svg aria-labelledby="shopify-open-source-logo-title" role="img" class="header-logo"><title id="shopify-open-source-logo-title">Shopify open source logo</title><use xlink:href="#shopify-open-source-logo"></use></svg>
          </div>
        </div>
      </header>

      {% include hero.html %}
      {% include featured.html %}
      <section id="Content" class="section">
        <div class="grid">
          <div class="grid__item">
            <main role="main" id="Main">
              <article>
                {{ content }}
              </article>
            </main>
          </div>
        </div>
      </section>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
