<!doctype html>
<html lang="en">
  <head>
  {% include head.html %}
  </head>
  <body>

    {{content}}

    {% include join.html %}

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="javascripts/libs/handlebars.min.js"></script>
    <script src="javascripts/libs/isotope.min.js"></script>
    <script src="javascripts/custom-repos.js"></script>
    <script src="javascripts/shopify-opensource.js"></script>

  </body>
</html>
